@import url('https://fonts.googleapis.com/css?family=Dosis:400,600|Raleway|Satisfy&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

/* Landing Page */

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.name {
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  font-size: 9vw;
  color: #3D7992;
  padding: 0 15px;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75vw;
  font-weight: 100;
  color: #4596B4;
}

.links-container {
  display: inline-block;
  margin-top: 10%;
  padding: 20px;
}

.lp-links {
  font-size: 3vw;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #326378;
}

.lp-links:hover {
  cursor: pointer;
  background-color:#E6F4FA;
  border-radius: 10px;
}

/* NavBar */

#nav {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0px 0 1em 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #E6F4FA;
}

#name-nav {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 49px;
  font-weight: 300;
  color: #3D7992;
  position: absolute;
  left: 5%;
  margin-top: 11px;
  padding: 5px;
}

#name-nav:hover {
  cursor: pointer;
}

#nav ul {
  float: right;
  margin: 27px 60px 0 0;
}

#projects-nav, #about-nav {
  float: right;
  /* display: inline-block; */
  font-family: 'Dosis', sans-serif;
  font-size: 27px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  color: #326378;
}

#projects-nav:hover, #about-nav:hover {
  cursor: pointer;
  color: #3D7992;
}

/* Projects */

.projects {
  margin: 65px 20px 30px 20px;
}

.projects p {
  color: #326378 !important;
  font-weight: 500 !important;
}

.project-title, .project-tech {
  font-family: 'Raleway', sans-serif !important;
  color: #326378 !important;
  text-decoration: underline;
}

.project-arrows {
    color: #326378 !important;
    cursor: pointer;
}

/* About */

.about {
  font-family: 'Raleway', sans-serif;
  color: #326378;
  font-size: 1.8vw;
  text-indent: 5%;
  margin-left: 1em;
  padding: 40px 0 0 30px;
}

.links {
  padding: 10px;
  font-size: 34px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #326378;
}

.links:hover {
  cursor: pointer;
  background-color:#E6F4FA;
  border-radius: 15px;
}