@import url('https://fonts.googleapis.com/css?family=Dosis:400,600|Raleway|Satisfy&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

/* Landing Page */

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#name {
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  font-size: 9vw;
  color: #3D7992;
  padding: 0 15px;
}

#subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75vw;
  font-weight: 100;
  color: #4596B4;
}

#links-container {
  display: inline-block;
  margin-top: 10%;
  padding: 20px;
}

.lp-links {
  font-size: 3vw !important;
  font-family: 'Dosis', sans-serif !important;
  font-weight: bold !important;
  color: #326378 !important;
  padding: 10px !important;
}

.lp-links:hover {
  cursor: pointer;
  background-color:#E6F4FA;
  border-radius: 10px;
}

/* NavBar */

#nav {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0px 0 1em 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #E6F4FA;
}

#name-nav {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 49px;
  font-weight: 300;
  color: #3D7992;
  position: absolute;
  left: 5%;
  margin-top: 11px;
  padding: 5px;
}

#name-nav:hover {
  cursor: pointer;
}

#nav ul {
  float: right;
  margin: 27px 60px 0 0;
}

.hamburger-container {
  height: 900px;
}

#projects-nav, #about-nav {
  float: right;
  font-family: 'Dosis', sans-serif;
  font-size: 27px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  color: #326378;
}

#projects-nav:hover, #about-nav:hover {
  cursor: pointer;
  color: #3D7992;
}

/* Projects */

.projects {
  margin: 65px 20px 30px 20px;
}

.projects p {
  color: #326378 !important;
  font-weight: 500 !important;
}

.project-title, .project-tech {
  font-family: 'Raleway', sans-serif !important;
  color: #326378 !important;
  text-decoration: underline;
}

.project-links {
  margin-top: 30px;
}

.project-arrows {
    color: #326378 !important;
    cursor: pointer;
}

/* About */

#about {
  font-family: 'Raleway', sans-serif;
  color: #326378;
  font-size: 1.8vw;
  text-indent: 5%;
  margin-left: 1em;
  padding: 40px 0 0 30px;
}

#about-header {
  font-family: 'Raleway', sans-serif;
  color: #326378;
  text-decoration: underline;
  text-align: center !important;
}

.links {
  padding: 10px;
  font-size: 34px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #326378;
}

.links:hover {
  cursor: pointer;
  background-color:#E6F4FA;
  border-radius: 15px;
}

/* misc */

#rotate-phone {
  opacity: 60%;
  font-family: 'Dosis', sans-serif;   
  text-align: center;
  margin-top: 100px;
}

/* Media Queries */

@media screen and (max-width: 769px) and (orientation: portrait) {
  
  .headshot {
    margin: 60px auto 10px auto;
    border-radius: 50%;
    width: 29vw; 
    display: inline-block;
    text-align: center;
  }

  #name {
    font-size: 16vw;
  }

  #subtitle {
    font-size: 5vw;
  }

  #links-container {
    margin-top: 15%;
    padding: 0px;
  }

  .lp-links {
    font-size: 8vw !important;
    padding: 0px !important;
    text-decoration: underline;
  }

  #hamburger-icon {
    color: #326378;
    float: right;
    margin: 10px;
  }

  .hamburger-links {
    color: #326378;
    font-family: 'Dosis', sans-serif;       
  }

  #main-content {
    height: 100%;
  }
  
  #swipe-info, .swipe-count {
    color: #326378;
    opacity: 60%;
    font-family: 'Dosis', sans-serif;   
    text-align: center;
  }

  .projects {
    margin: 10px 0 0 0;
  }

  #project-description-column {
    padding-top: 0 !important;
    height: 600px;
  }

  .project-container {
    margin: 0;
    text-align: center;
  }

  .project-title {
    font-size: 7vw;
  }

  .tech-labels {
    margin-top: 10px !important;
  }

  #about {
    font-size: 2.1vh;
    margin-left: 0;
    margin-top: 27px;
    padding: 0;
  }

  #about-header {
    text-decoration: none;
  }

  .links {
    display: none;
  }

}

@media screen and (min-width: 767px) {
  #about-header {
    display: none; 
  }
}