#nav {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0px 0 3em 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #E6F4FA;
}

#name-nav {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  font-size: 49px;
  font-weight: 300;
  color: #3D7992;
  position: absolute;
  left: 5%;
  margin-top: 11px;
  padding: 5px;
}

#name-nav:hover {
  cursor: pointer;
}

#nav ul {
  display: inline-block;
  position: absolute;
  right: 8%;
}

#projects-nav, #about-nav {
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-top: 19px;
  text-decoration: none;
  font-weight: bold;
  color: #326378;
}

#projects-nav {
  padding: 8px 15px 13px 15px;
}

#about-nav {
  padding: 8px 15px 13px 14px;
}

.link-background {
  position: absolute;
  border-radius: 5px;
  top: 3%;
  right: 229px;
  width: 121px;
  height: 64px;
  background-color: #E6F4FA;
}